on: push

jobs:

  check_artifact:

    name: Check artifact
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm

      - name: Build
        run: make --always-make all

      - name: Compare artifacts
        run: |
          [[ "$(git diff dist/ | wc -l)" -lt 1 ]]
        shell: bash

  render:

    name: Render
    runs-on: ubuntu-latest

    outputs:
      html: ${{ steps.render.outputs.html }}

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Render
        id: render
        uses: fionn/render-markdown@master
        with:
          token: ${{ github.token }}

      - name: Get HTML
        run: echo '${{ steps.render.outputs.html }}'

  publish:

    name: Publish
    needs: [render, check_artifact]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    permissions:
      pages: write
      id-token: write
      contents: read

    environment:
      name: pages
      url: ${{ steps.publish.outputs.page_url }}

    concurrency:
      group: pages

    steps:

      - name: Write HTML
        run: |
          mkdir site
          echo '${{ needs.render.outputs.html }}' > site/index.html

      - name: Upload tarball
        uses: actions/upload-pages-artifact@v2
        with:
          path: site

      - name: Publish
        id: publish
        uses: actions/deploy-pages@v2
